html, body {
  padding: 0px;
  margin: 0px;
  background-color: #dadada;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    flex-grow: 1;

    section {
      &.not-found {
        display: flex;
        align-items: center;
        height: 100%;
        background-color: #f00;
        flex-grow: 1;

        h3 {
          margin-left: auto;
          margin-right: auto;
          font-size: 5rem;
        }
      }

      &.nav {
        background-color: #c0baba;
        padding: 1rem;

        nav {
          display: flex;
          flex-direction: row;
          background-color: #d0d0de;
          margin-left: -1rem;
          margin-right: -1rem;
          padding-left: 1rem;

          a {
            text-decoration: none;
            font-style: normal;
            display: block;
            flex-grow: 1;
            max-width: 10vw;
            transition: all 250ms;
            padding: 0.5rem;
            border: 1px solid #000;
            margin: 0.2rem;
            color: #f00;

            &:hover {
              background-color: #00f;
              color: #fff;
            }

            &.router-link-exact-active {
              &:hover {
                background-color: #0ff;
                color: #000;
              }

              background-color: #055;
              font-weight: bold;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

